.navbar-dark {
  background-color: rgba(0,0,0,0);
}
.op-navbar-dark {
  background-color: rgba(0,0,0,.5);
}
.navbar-brand {
  font-size: 1rem;
}
.navbar-dark .navbar-nav .nav-link {
  font-size: 1rem;
  padding: 0.3rem 1rem;
  /* font-weight: 100; */
}

.text-blue {
  color: #00C1DE;
}

p {
  font-weight: 100;
}

body {
  background-color: #333;
}
#section0 h1 {
  font-size: 3.50rem;
}

#section0,
#section2,
#section4,
#section5 {
  background-image: url(../images/bg_01.png);
  background-repeat: no-repeat;
}
#section0 .bn-img {
  position: relative;
}
#section0 .bn-bg {
  position: absolute;
}
#section0 .bn-bg-02 {
  animation-delay: .5s;
}
#section0 .bn-bg-03 {
  animation-delay: .8s;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #section0 .bn-img .bn-bg-03 {
    max-width: 27%;
    top: -21px;
    left: 120px;
  }
  #section0 .bn-img .bn-bg-02 {
    top: -90px;
    left: 0px;
  }
  #section0 .bn-img .bn-bg-01 {
    top: 6px;
    left: 7px;
  }
  #section0 .bn-img .bn-bg-00 {
    max-width: 140%;
    top: 52px;
    left: -50px;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #section0 .bn-img .bn-bg-03 {
    top: -77px;
    left: 180px;
  }
  #section0 .bn-img .bn-bg-02 {
    top: -128px;
    left: 17px;
  }
  #section0 .bn-img .bn-bg-01 {
    top: -22px;
    left: 27px;
  }
  #section0 .bn-img .bn-bg-00 {
    max-width: 140%;
    top: 40px;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #section0 .bn-img .bn-bg-03 {
    top: -110px;
    left: 218px;
  }
  #section0 .bn-img .bn-bg-02 {
    top: -212px;
    left: 12px;
  }
  #section0 .bn-img .bn-bg-01 {
    max-width: 113%;
    top: -42px;
    left: 0px;
  }
  #section0 .bn-img .bn-bg-00 {
    max-width: 160%;
    top: 40px;
    left: -110px;
  }
}

#section1 {
  background-color: #fff;
  background-repeat: no-repeat;
}
#section1 [class*="col-"] {
  padding-top: 20px;
  padding-bottom: 20px;
}

#section2 .content-text {
  padding-top: 20%;
}
#section3 {
  background-image: url(../images/section3_bg_00.png);
  background-repeat: no-repeat;
}
#section5 .section5-top {
  width:100%;
  background-color: rgb(177,192,209);
  margin-top: 50px;
}
#section5 .section5-top [class*="col-"] {
  padding-top: 15px;
  border-top: 1px solid rgb(169, 183, 199);
  border-right: 1px solid rgb(169, 183, 199);
}
#section5 .section5-top [class*="col-"]:nth-child(4),
#section5 .section5-top [class*="col-"]:nth-child(8) {
  border-right: none;
}
#section5 .fp-tableCell {
  vertical-align: top;
}
#section5 .section5-bottom {
  padding-top: 50px;
}
#section5 .section5-bottom .text-center {
  padding-top: 14%;
}

.page-footer {
  position: absolute;
  width: 100%;
  background-color: rgba(0,0,0,.6);
  bottom: 0;
}
.page-footer p {
  margin-bottom: 0;
  padding: 5px 0;
  font-size: .8rem;
  color: #333;
}

/* fullpage2 */
#fullpage2 #f-section1,
#fullpage2 #f-section3,
#fullpage2 #f-section5 {
  background: -webkit-radial-gradient(50% 150%, farthest-corner,#484848,#292929,#000000); /* Safari 5.1 - 6.0 */
  background: -o-radial-gradient(50% 150%, farthest-corner,#484848,#292929,#000000); /* Opera 11.6 - 12.0 */
  background: -moz-radial-gradient(50% 150%, farthest-corner,#484848,#292929,#000000); /* Firefox 3.6 - 15 */
  background: radial-gradient(50% 150%, farthest-corner,#484848,#292929,#000000); /* */
}
#fullpage2 #f-section2,
#fullpage2 #f-section4 {
  background-color: #f2f2f2;
}
